<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/template">
<body>
<section layout:fragment="content"> 
    <div id="wrapper">
        <div id="page-wrapper">
		<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Listagem de Ferramentas</h1>
                </div>
                <!-- /.col-lg-12 -->
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista
                        </div>
							<div class="panel-body">
							<div layout:include="admin/mensagem"></div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Patrimônio</th>
                                            <th>Nome</th>
                                            <th>Data Cadastrada</th>
                                            <th>Status</th>
                                            <th class="col-lg-1">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr th:each=" f : ${ferramentas}">
                                      	 	<td th:text="${f.id}"></td>
											<td th:text="${f.patrimonio}"></td>
											<td th:text="${f.nome}"></td>
											<td th:text="${{f.dataCadastrada}}"></td>
											<td>
												<span class="label"  th:text="${f.status.descricao}"
													th:classappend="${f.emprestado ? 'label-danger':'label-primary'}"> </span>	
											</td>
			                                <td class="text-center">
			                                	<a title="Editar" rel="tooltip" data-placement="top" 
			                                		th:href="@{/admin/ferramenta/editar/{id}(id=${f.id})}">
			                                		<span class="glyphicon glyphicon-pencil"> </span>
			                                	</a>
			                                	<a title="Excluir" rel="tooltip" data-placement="top" 
			                                		 th:attr="data-codigo=${f.id}, data-nome=${f.nome}" 
			                                		data-target="#modalExclusao" data-toggle="modal">
			                                		<span class="glyphicon glyphicon-remove"></span>
			                                	</a>
			                                </td>
									   </tr>
									   <tr>
									   		<td colspan="6" th:if="${#lists.isEmpty(ferramentas)}">
									   			Nenhuma ferramenta encontrada ! 
									   		</td>
									   </tr>
                                    </tbody>
                                </table>
	                            </div>
	                            <!-- /.table-responsive -->
	                        </div>
	                        <!-- /.panel-body -->
						</div>
					</div>
				</div>
            </div>
		</div>
		<div layout:include="admin/ferramenta/modalConfirmacao"></div>
	</div>
</section>
</body>
</html>
